fa-icon {
  cursor: pointer;
  color: rgb(209, 207, 207);
}

.edit-icon:hover {
  color: blue;
}

.mail-icon:hover {
  color: green;
}

.delete-icon:hover {
  color: red;
}

.key-icon:hover {
  color: goldenrod;
}

.user-icon {
  color: dodgerblue;
}

tbody {
  border: 1px solid #dee2e6;
  border-radius: 15px;
}

.table {
  width: 99.9999%;
}

li {
  cursor: pointer;
}
