<form [formGroup]="form">
  <div class="form-group">
    <label>Subject</label>
    <input
      class="form-control"
      formControlName="subject"
      type="subject"
    />
    <p
      class="text-danger small"
      *ngIf="
        form.get('subject').invalid &&
        form.get('subject').touched
      "
    >
      Subject is obrigatory!
    </p>
  </div>
  <div class="form-group">
    <label for="text">Text</label>
    <textarea
      class="form-control"
      id="text"
      rows="5"
      formControlName="text"
    ></textarea>
    <p
      class="text-danger small"
      *ngIf="
      form.get('text').invalid && form.get('text').touched
      "
    >
      Text is obrigatory!
    </p>
  </div>
</form>
