<div class="p-3">
  <button
    class="btn btn-success my-3 mx-2 float-right"
    (click)="onCreateUserBtnClicked()"
  >
    Create user
  </button>
  <button
    class="btn btn-info my-3 mx-2 float-right"
    (click)="onSendEmailToAllAdminsBtnClicked()"
  >
    Send email to all admins
  </button>

  <app-user-table
    [page]="page"
    (onEditClick)="onEditUserBtnClicked($event)"
    (onDeleteClick)="onDeleteUserBtnClicked($event)"
    (onChangePasswordClick)="onUpdatePasswordClicked($event)"
    (onEmailToUserClick)="onSendEmailToUserBtnClicked($event)"
    (onPageChange)="getUsers($event)"
  ></app-user-table>

  <app-modal
    [id]="modal.CREATE_USER"
    [title]="isCreatingUser() ? 'Create user' : 'Update user'"
  >
    <div body class="p-4">
      <app-user-form [form]="userForm"></app-user-form>
    </div>
    <div footer>
      <button
        class="btn btn-danger mx-1"
        (click)="closeModal(modal.CREATE_USER)"
      >
        Cancel
      </button>
      <button class="btn btn-primary mx-1" (click)="onSaveBtnClick()">
        Save
      </button>
    </div>
  </app-modal>

  <app-modal [id]="modal.DELETE_USER" [title]="'Delete user'">
    <div body class="p-4">
      <p class="text-center">Are you sure you want to delete this user?</p>
    </div>
    <div footer>
      <button
        class="btn btn-danger mx-1"
        (click)="closeModal(modal.DELETE_USER)"
      >
        Cancel
      </button>
      <button class="btn btn-primary mx-1" (click)="delete()">Delete</button>
    </div>
  </app-modal>

  <app-modal [id]="modal.UPDATE_PASSWORD" [title]="'Update password'">
    <div body class="p-4">
      <app-user-update-form [form]="userForm"></app-user-update-form>
    </div>
    <div footer>
      <button
        class="btn btn-danger mx-1"
        (click)="closeModal(modal.UPDATE_PASSWORD)"
      >
        Cancel
      </button>
      <button class="btn btn-primary mx-1" (click)="updatePassword()">
        Update
      </button>
    </div>
  </app-modal>

  <app-modal [id]="modal.EMAIL_USER" [title]="'Send email to user'">
    <div body class="p-4">
      <app-user-email-form [form]="emailForm"></app-user-email-form>
    </div>
    <div footer>
      <button
        class="btn btn-danger mx-1"
        (click)="closeModal(modal.EMAIL_USER)"
      >
        Cancel
      </button>
      <button class="btn btn-primary mx-1" (click)="sendEmailToUser()">
        Send
      </button>
    </div>
  </app-modal>

  <app-modal [id]="modal.EMAIL_ALL_ADMINS" [title]="'Send email to all admins'">
    <div body class="p-4">
      <app-admin-email-form [form]="emailForm"></app-admin-email-form>
    </div>
    <div footer>
      <button
        class="btn btn-danger mx-1"
        (click)="closeModal(modal.EMAIL_ALL_ADMINS)"
      >
        Cancel
      </button>
      <button class="btn btn-primary mx-1" (click)="sendEmailToAllAdmins()">
        Send
      </button>
    </div>
  </app-modal>
</div>
